.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modal-box {
  background: #1b0036;
  color: #fff;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  width: 350px;
  box-shadow: 0 0 20px #5e17eb;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button.confirm {
  background: #5e17eb;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

button.cancel {
  background: #aaa;
  border: none;
  padding: 10px 20px;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
}
