.navbar {
  background: #4c1eb8;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 20px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}
