.perfil-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #1A0036;
  height: 100vh;
}

.perfil-card {
  display: flex;
  background: linear-gradient(145deg, #3d0d74, #1c0049);
  padding: 40px;
  border-radius: 20px;
  width: 900px;
  gap: 40px;
  color: white;
}

/* FOTO PERFIL */
.perfil-foto-container {
  text-align: center;
}

.perfil-foto {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #b56dff;
  box-shadow: 0 0 15px #9c47ff;
}

.btn-cambiar-foto {
  display: inline-block;
  margin-top: 15px;
  background: #4b1cff;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-cambiar-foto:hover {
  background: #6736ff;
}

.btn-cambiar-foto input {
  display: none;
}

/* INFO */
.perfil-info {
  flex: 1;
}

.label {
  margin-top: 15px;
  font-weight: bold;
  opacity: 0.8;
}

.value {
  margin-top: -8px;
  margin-bottom: 10px;
}

.textarea {
  width: 100%;
  height: 120px;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  padding: 12px;
  color: white;
  border-radius: 10px;
  resize: none;
}

.btn-guardar {
  margin-top: 20px;
  background: #ff6b81;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-guardar:hover {
  background: #ff4663;
}

.rol {
  opacity: 0.8;
  margin-bottom: 10px;
}
