.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #2d0d4d, #480082);
}

.verify-box {
  background: rgb(63, 33, 144);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.verify-box h2 {
  margin-bottom: 20px;
}

.success {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}
